body {
  overflow-x: clip;
}

.clip-50 {
  clip-path: inset(50% 50% 50% 50%);
}

.clip-0 {
  clip-path: inset(0% 0% 0% 0%);
}

.clip-transition {
  transition: clip-path 0.3s ease-out;
}
.hero_list_item_wrapper {
  overflow: clip;
}
.overlay {
  opacity: 1;
  visibility: visible !important;
}
.hero_list_item {
  /* text-shadow: 0px 1em 0px white; */
  /* overflow-y: clip; */
  transform: translateY(100%);
}
.hero_line,
.section_heading_line {
  perspective: 1000px;
  will-change: "transform";
  transform-style: preserve-3d;
}
.hero_char,
.section_heading_char {
  perspective: 500px;
  will-change: "transform";

  transform-origin: center bottom;
  transform-style: preserve-3d;
  text-shadow:
    0px 1em 0px #dedede,
    0px 2em 0px #dedede;
  transform: translateY(-310%);
  display: inline-block;
}
.section_heading_line2 .section_heading_char {
  transform: translateY(310%);
  will-change: "transform";
}
.hero_description_line {
  opacity: 0;
  will-change: "transform";
  transform: translateY(45);
}

.pricing_container {
  transform-style: preserve-3d;
  perspective: 1200px;
}
